* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-align: left;
    text-decoration: none;
    color: black;
}

@import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Hegarty&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Condiment&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');


.overall {
    height: 100vh;
    width: 100%;
}

/* header  */
.header {
    height: 100px;
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 10%;
    z-index: 3;
    position: fixed;
    top: 0px;
}

.rapido {
    height: 40px;
    width: 100px;
    background-color: gold;
    padding: 2px 10px;
    border-radius: 40px;
    margin-left: 5%;
    font-family: "Rubik Distressed", system-ui;
    font-size: x-large;
    font-weight: bold;

    font-family: "Condiment", cursive;
    font-weight: 600;
}

.rapidologo {
    text-decoration: none;
    color: black;
}

.about {
    display: flex;
    list-style-type: none;
    gap: 40px;
    font-size: larger;

    font-family: "Condiment", cursive;
    font-weight: 500;
}

.downloadapp {
    width: 200px;
    height: 50px;
    background-color: black;
    border-radius: 30px;
    border-bottom-right-radius: 5px;
    padding: 10px 25px;

    font-family: "Condiment", cursive;
    font-weight: 600;
}

.downloadapplink {
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-weight: 700;
}

.list:hover {
    text-decoration: underline;
}

.u {
    text-decoration: underline;
}

/* child1 */
.child1 {
    width: 100%;
    height: 70px;
    margin-top: 7.5%;
    position: fixed;
    z-index: 2;
    background-color: rgb(246, 246, 247);
}

.ol_2 {
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 1.5%;

    font-family: "Vast Shadow", serif;
    font-weight: 400;
}

.l_c_1 {
    list-style-type: none;
    font-size: 25px;
    opacity: 0.7;

    font-family: "Lilita One", sans-serif;
    font-weight: 500;
}

.one:hover,
.two:hover {
    opacity: 1;
    font-size: 28px;
}

/* child2  */
.child2 {
    width: 60%;
    height: auto;
    /* border: 2px solid; */
    padding-top: 20%;
    margin-left: 20%;
    display: flex;
    flex-wrap: wrap;
}

.box1 {
    width: 50%;
    height: 100%;
    /* border:2px solid red; */
}

.box2 {
    width: 50%;
    height: 100%;
    /* border:2px solid red; */
    /* transform: rotatey(70deg); */
}

.c2_h2 {
    margin-top: 20%;
    margin-left: 15%;
    font-size: xx-large;

    font-family: "BBH Sans Hegarty", sans-serif;
    font-weight: 600;

}

.c2_p {
    margin-top: 10%;
    margin-left: 15%;
    line-height: 25px;
    font-size: large;

    font-family: "Bigshot One", serif;
    font-weight: 400;
}

.b2_img {
    height: 300px;
    width: 200px;
    margin-top: 10%;
    margin-left: 23%;
    border-top: 10px solid gold;
    border-right: 10px solid gold;
    border-radius: 20px;
    transition: rotatey(70deg);
}

/* child3 */
.child3 {
    width: 60%;
    height: auto;
    /* border:solid; */
    background-color: gold;
    margin-left: 20%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    /* grid-template-columns: 1fr 1fr; */
}

.g_box1,
.g_box2,
.g_box3,
.g_box4 {
    width: 50%;
    height: 50%;
    /* border:2px solid; */
}

#b1_logo,
#b1_h1 {
    margin-top: 20%;
    margin-left: 20%;
}

#b1_h1 {
    font-family: "BBH Sans Hegarty", sans-serif;
    font-weight: 600;
}

#b2_logo,
#b2_p1,
#b2_p2 {
    /* font-size: large; */
    margin-top: 20%;
    margin-left: 10%;
}

#b2_p1 {
    font-family: "BBH Sans Hegarty", sans-serif;
    font-weight: 700;
    font-size: x-large;
}

#b2_p2 {
    margin-top: 20px;
    font-family: "Bigshot One", serif;
    font-weight: 400;
    font-size: large;
}

#b3_logo {
    margin-top: 25%;
    margin-left: 20%;
}

#b3_p1,
#b3_p2 {
    margin-top: 12%;
    margin-left: 20%;
}

#b3_p1 {
    font-family: "BBH Sans Hegarty", sans-serif;
    font-weight: 700;
    font-size: x-large;
}

#b3_p2 {
    font-family: "Bigshot One", serif;
    font-weight: 400;
    font-size: large;

}

#b4_logo {
    margin-top: 25%;
    margin-left: 10%;
}

#b4_p1,
#b4_p2 {
    margin-top: 12%;
    margin-left: 10%;
}

#b4_p1 {
    font-family: "BBH Sans Hegarty", sans-serif;
    font-weight: 700;
    font-size: x-large;
}

#b4_p2 {
    font-family: "Bigshot One", serif;
    font-weight: 400;
    font-size: large;
}

/* child4 */
.child3_1 {
    margin-left: 25%;
}

.c3_p1 {
    margin-left: 30px;
}

.c3_p2 {
    margin-left: 30px;
    margin-top: 20px;
}

/* child5  */
.child4 {
    width: 100%;
    height: 400px;
    margin-top: 5%;
    background-color: black;
    display: flex;

}

.child4_1 {
    width: 35%;
    height: 90%;
    padding-left: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: "Bigshot One", serif;
    font-weight: 400;
    /* border:2px solid white; */
    /* color:white; */
}

.customerapp {
    color: white;
    margin-top: 40px;
    margin-left: 30px;
    font-size: large;
}

.captainapp {
    color: white;
    margin-top: 42px;
    margin-left: 30px;
    font-size: large;
}

.getitimage1 {
    height: 100px;
    width: 150px;
}

.getitimage2 {
    width: 130px;
    height: 70px;
    margin-left: 10px;
}

.child4_2 {
    width: 35%;
    height: 90%;
    padding-left: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-family: "Bigshot One", serif;
    font-weight: 400;
    /* border:2px solid white */
}

.child4_2_a,
.child4_2_b,
.child4_2_c {
    /* height:100%; */
    width: 30%;
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 1px 20px;
    margin-top: 20px;
    /* column-gap: 3px; */
}

.child4_2_a {
    /* margin-top:40px; */
    padding-top: px
}

.child4_3 {
    width: 35%;
    height: 90%;

    /* border:2px solid white; */
}

.followas {
    color: white;
    font-size: 25px;
    margin-left: 40%;
    margin-top: 18%;
    font-family: "Bigshot One", serif;
    font-weight: 400;
}

.iconparent {
    margin-left: 30%;
    margin-top: 5%;
    padding-left: 10px;
}


/* mediaquery  */

@media screen and (max-width:991px) {
    .header {
        height: auto;
        flex-wrap: wrap;
        gap: 0px;
    }

    .downloadapp_p {
        width: 100%;
        padding-left: 65%;
    }

    .about_p {
        width: 80%;
        margin-left: 20px;
    }
}

@media screen and (max-width:634px) {
    .header {
        height: auto;
        flex-direction: column;
        gap: 0px;
        align-items: normal;
    }

    .rapido_p {
        width: 100%;
    }

    .about_p {
        margin-left: 0px;
        justify-content: space-between;
        width: 100%;
        gap: 5px;
    }

    .downloadapp_p {
        padding-left: 50%;
    }

}

@media screen and (max-width:480px) {
    .overall {
        height: 1300px;
    }

    .about {
        font-size: small;
        gap: 10px;
        justify-content: space-around;
    }

    .downloadapp_p {
        padding-left: 40%;
    }
}

@media screen and (max-width:960px) {
    .child1 {
        margin-top: 80px;
    }
}

@media screen and (max-width:640px) {
    .child1 {
        margin-top: 105px;
    }

    .child3 {
        padding-top: 25%;
    }
}

@media screen and (max-width:522px) {
    .about {
        gap: 25px;
    }
}

@media screen and (max-width:345px) {
    .child1 {
        height: 70px;
    }

    .ol_2 {
        padding-top: 23px;
        gap: 2px;
        font-size: large;

    }
}

@media screen and (max-width:1045px) {
    .child1 {
        padding-top: 12px;
    }
}

@media screen and (max-width:650px) {
    .child1 {
        margin-top: 100px;
        padding-top: 10px;
    }

    .child3 {
        padding-top: 25%;
    }
}

@media screen and (max-width:383px) {
    .ol_2 {
        gap: 8px;
    }
}

@media screen and (max-width:1054px) {
    .iconparent {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .followas {
        margin-top: 8%;
    }
}

@media screen and (max-width:1055px) {

    .child4 {
        height: auto;
        flex-direction: column;
    }

    .child4_1,
    .child4_2,
    .child4_3 {
        width: 100%;
    }

    .child4_3 {
        height: 300px;
        text-align: center;
    }

    .iconparent {
        height: 30%;
        margin-left: 0px;
        justify-content: center;
        /* border: solid white; */
    }
}

@media screen and (max-width:540px) {
    .child1 {
        height: 85px
    }

    .ol_2 {
        padding-top: 30px;
        /* border: solid; */
    }

    .child2 {
        padding-top: 180px;
    }
}

@media screen and (max-width:540px) {
    .child2 {
        flex-direction: column;
    }

    .box1,
    .box2 {
        width: 100%;
    }
}

@media screen and (max-width:800px) {
    .child3 {
        height: auto;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .g_box1,
    .g_box2,
    .g_box3,
    .g_box4 {
        width: 100%;
    }
}

@media screen and (max-width:675px) {
    .child2 {
        /* border:solid; */
        padding-top: 25%;
    }
}

@media screen and (max-width:500px) {
    .child2 {
        padding-top: 50%;
    }
}

@media screen and (max-width:300px) {
    .child2 {
        padding-top: 60%;
    }
}